body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
}

.theme-picker {
    background-color: #f7e6c9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ce8d4b;
}

.container {
    width: 100%;
    background-color: #f7e6c9; 
    border: 2px solid #ce8d4b;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.container .item {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

/* BLUE */
header:has(.theme-picker input[value="blue"]:checked) ~ .container {
    justify-content: space-between;
    flex-wrap: wrap; 
}

header:has(.theme-picker input[value="blue"]:checked) ~ .container .item {
    min-width: 25%;
    background-color: blue; 
}

@media all and (max-width: 1024px) {
  header:has(.theme-picker input[value="blue"]:checked) ~ .container {
    flex-direction: column;
    align-items: center;
  }
}

/* RED */
header:has(.theme-picker input[value="red"]:checked) ~ .container {
    flex-wrap: nowrap;

}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item {
    flex: 1 1 calc(20% - 10px);
    background-color: red;
    flex-grow: 1;
}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(1) {
    font-weight: bold;
    order: 3;
    flex-grow: 1.2;
}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(1)::after {
    color: white;
    content: "Jestem większy i na środku!";
    display: block;
    font-size: 80%;
    text-align: center;
}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(2) {order: 1;}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(3) {order: 2;}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(4) {order: 4;}
header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(5) {order: 5;}

@media all and (max-width: 1024px) {
    header:has(.theme-picker input[value="red"]:checked) ~ .container {
        display: flex;
        flex-wrap: wrap;
    }

    header:has(.theme-picker input[value="red"]:checked) ~ .container .item {
        min-width: 40%;
        box-sizing: border-box;
    }

    header:has(.theme-picker input[value="red"]:checked) ~ .container .item:nth-child(1) {
        min-width: 90%;
    }
}

/* GREEN */
header:has(.theme-picker input[value="green"]:checked) ~ .container {
    flex-wrap: wrap;
}
header:has(.theme-picker input[value="green"]:checked) ~ .container .item {
    background-color: green;
}



@media all and (max-width: 1024px) {
    header:has(.theme-picker input[value="green"]:checked) ~ .container {
        flex-direction: column-reverse;
        flex-wrap: wrap; 
    }

    header:has(.theme-picker input[value="green"]:checked) ~ .container .item {
        box-sizing: border-box;
    }
}
header:has(.theme-picker input[value="green"]:checked) ~ .container .item:nth-child(1) {flex-grow: 5;}
header:has(.theme-picker input[value="green"]:checked) ~ .container .item:nth-child(2) {flex-grow: 4;}
header:has(.theme-picker input[value="green"]:checked) ~ .container .item:nth-child(3) {flex-grow: 3;}
header:has(.theme-picker input[value="green"]:checked) ~ .container .item:nth-child(4) {flex-grow: 2;}
header:has(.theme-picker input[value="green"]:checked) ~ .container .item:nth-child(5) {flex-grow: 1;}


